<div class="pt-7">
  <p-tabView>
    <p-tabPanel header="Reconocimientos">
      <div class="flex flex-row justify-content-evenly gap-4 flex-wrap w-full">
        <div class="card">
          <img class="imgcard" src="../../assets/images/products/foto2.png" alt="Certificado BIC" />
          <div class="contcard">
            <h1 class="tcard">Excelencia Ambiental</h1>
            <p class="ccard">Reconocimiento en el Programa de Excelencia Ambiental PREAD, de
              secretaría Distrital de Ambiente con un puntaje de 91,8 puntos
            </p>
          </div>
        </div>
        
        <div class="card">
          <img class="imgcard" src="../../assets/images/products/trofeo1.png" alt="Certificado BIC" />
          <div class="contcard">
            <h1 class="tcard">Incremento Gestión Ambiental</h1>
            
            <p class="ccard">Por medio de auditorias externas se evalua un incremento que va de 3,33
              a 35,8 en la implementación del Sistema de Gestión Ambiental
            </p>
          </div>
        </div>
        
        <div class="card">
          <img class="imgcard" src="../../assets/images/products/foto3.png" alt="Certificado 3" alt="Certificado BIC" />
          <div class="contcard">
            <h1 class="tcard">Avalúo Secretaría Distrital</h1>
            
            <p class="ccard">Avaluo de la Secretaría Distrital de ambiente en la elaboración y
              comercialización de muebles para el hogar a partir de la transformación y
              reutilización de estibas de madera en desuso
            </p>
          </div>
        </div>
      </div>
      
    </p-tabPanel>
    <p-tabPanel header="Recuperación de materiales">
      <div class="flex flex-row gap-4 flex-wrap justify-content-evenly">
        <div class="card">
          <div class="poster">
            <img class="" src="../../assets/images/products/f1.jpg" alt="">
          </div>
          <div class="details">
            <img src="../../assets/images/products/imgreco.png" class="logo">
            <div class="info">
              <p>La recolección de materiales es una etapa esencial en nuestro proceso de recuperación y transformación de
                materiales. Para obtener los materiales necesarios, nos dirigimos a diversas compañías o fábricas. Donde nos
                aseguramos de establecer relaciones sólidas con estas empresas, estableciendo acuerdos y colaboraciones para
                obtener los materiales de manera eficiente y sostenible.</p>
              </div>
              <div class="evid">
                <h4>Imagenes del proceso</h4>
                <ul>
                  <li><img src="../../assets/images/products/reco1.png" alt=""></li>
                  <li><img src="../../assets/images/products/reco2.png" alt=""></li>
                </ul>
              </div>
            </div>
          </div>
          
          <!--Card2 ciclo de aprovechamiento-->
          <div class="card">
            <div class="poster">
              <img class="" src="../../assets/images/products/fondoreci1.jpg" alt="">
            </div>
            <div class="details">
              <img src="../../assets/images/products/ftr1.png" class="logo">
              <div class="info">
                <p>
                  Después del transporte de los materiales, nos enfocamos en el proceso de recuperación y transformación para
                  su reutilización en nuestro producto final. Esta etapa es crucial para la sostenibilidad y consiste en el
                  Aprovechamiento y Reincorporación de los materiales, donde los transformamos en productos finales de nuestro
                  catálogo. Así maximizamos su valor y aseguramos un ciclo de vida sostenible.
                </p>
              </div>
              <div class="evid">
                <h4>Imagenes del proceso</h4>
                
                <ul>
                  <li><img src="../../assets/images/products/trans1.png" alt=""></li>
                  <li><img src="../../assets/images/products/trans2.png" alt=""></li>
                </ul>
              </div>
            </div>
          </div>
          
          <!--Card3 ciclo de Recuperación y Aprovechamiento-->
          <div class="card">
            <div class="poster">
              <img class="" src="../../assets/images/products/f.jpg" alt="">
            </div>
            <div class="details">
              <img src="../../assets/images/products/rya1.png" class="logo">
              <div class="info">
                <p>El transporte de los materiales a nuestras fábricas es una parte importante de nuestro proceso de
                  recuperación y transformación de materiales, y nos esforzamos por realizarlo de manera eficiente y segura
                  para cumplir con nuestro compromiso de ofrecer productos de calidad.
                  
                </p>
              </div>
              <div class="evid">
                <h4>Imagenes del proceso</h4>
                
                <ul>
                  <li><img src="../../assets/images/products/apro1.png" alt=""></li>
                  <li><img src="../../assets/images/products/apro2.png" alt=""></li>
                  <li><img src="../../assets/images/products/apro3.png" alt=""></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="card">
            <div class="poster">
              <img class="" src="../../assets/images/products/f02.jpg" alt="">
            </div>
            <div class="details">
              <img src="../../assets/images/products/df.png" class="logo">
              <div class="info">
                <p>Luego de llevar todo el proceso relacionados con la recuperación y Aprovechamiento de todos los recursos
                  tenemos un exclusivo y excelente catalogo de productos con materiales 100% recuperados
                </p>
              </div>
              <div class="evid">
                <h4>Imagenes del proceso</h4>
                <ul>
                  <li><img src="../../assets/images/products/cat1.png" alt=""></li>
                  <li><img src="../../assets/images/products/cat3.png" alt=""></li>
                  <li><img src="../../assets/images/products/cat4.png" alt=""></li>
                  <li><img src="../../assets/images/products/cat5.png" alt=""></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Compromiso Ambiental">
        <div class="flex flex-row gap-4 flex-wrap justify-content-evenly">
          <div class="crd">
            <div class="face front">
              <img src="../../assets/images/products/f03.png" alt="">
              <h3>Economía Circular</h3>
            </div>
            <div class="face back">
              <h3>Economía Circular</h3>
              <p>La empresa establece un marco común para la definición de programas, definición de objetivos y realización de actividades, que contribuyan con el sistema de gestión ambiental, que lleven a la organización a la mejora continua. Para cumplir estos compromisos R. Savilla ha establecido los siguientes objetivos y principios:</p>
              <div class="link">
              </div>
            </div>
          </div>
          
          <div class="crd">
            <div class="face front">
              <img src="../../assets/images/products/c2.png" alt="">
              <h3>Objetivo General</h3>
            </div>
            <div class="face back">
              <h3>Objetivo General</h3>
              <p>Promover el manejo de residuos por medio de reciclaje y separación adecuada, obteniendo alternativas eficientes de aprovechamiento, que incorporen estos materiales nuevamente a la cadena de valor de distintos productos, gestionando materiales a través de una economía circular, procurando el ahorro de agua y energía.</p>
              <div class="link">
              </div>
            </div>
          </div>
          
          <div class="crd">
            <div class="face front">
              <img src="../../assets/images/products/c3.jpg" alt="">
              <h3>Objetivo</h3>
            </div>
            <div class="face back">
              <h3>Objetivo</h3>
              <p>
                Estamos comprometidos el garantizar el cumplimiento de la legislación ambiental aplicable,
                paea lo cual  nos enfocamos en reducir y mitigar impactos ambientales significativos,
                apoyando iniciativas dirigidas a contrarrestar
                el cambio climático.
              </p>
              <div class="link">
              </div>
            </div>
          </div>
          
          <div class="crd">
            <div class="face front">
              <img src="../../assets/images/products/c4.jpg" alt="">
              <h3>principios</h3>
            </div>
            <div class="face back">
              <h3>principios</h3>
              <p>
                En R. Savilla S.A.S, nos comprometemos a fortalecer el uso eficiente y ahorro de agua y energía, reduciendo consumos excesivos y desperdicios. Estableceremos programas para disminuir en un 5% anual los metros cúbicos de agua utilizados y los kilovatios/hora de energía consumidos, promoviendo prácticas responsables y sostenibles en nuestra empresa.
              </p>
              <div class="link">
              </div>
            </div>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>