<section class="background">
  <form [formGroup]="formularioContacto">
  <div class="formContact">
    <div class="container">
      <h2>¡Te esperamos!</h2>

        <div class="row100">
          <div class="col">
            <div class="inputBox">
              <input
                type="text"
                formControlName="nombreCompleto"
              />
              <span class="text">Nombre completo</span>
              <span class="line"></span>
            </div>
          </div>
          <div class="col">
            <div class="inputBox">
              <input type="text" pInputText formControlName="primerApellido"
              class="form-control" />
              <span class="text">Primer apellido</span>
              <span class="line"></span>
            </div>
          </div>
          <div class="col">
            <div class="inputBox">
              <input type="text" pInputText formControlName="segundoApellido"
              class="form-control" />
              <span class="text">Segundo apellido</span>
              <span class="line"></span>
            </div>
          </div>
        </div>
        <div class="row100">
          <div class="col">
            <div class="inputBox">
              <input type="text" pInputText formControlName="ciudad"
              class="form-control" />
              <span class="text">Ciudad</span>
              <span class="line"></span>
            </div>
          </div>
          <div class="col">
            <div class="inputBox">
              <input type="text" pInputText formControlName="telefono"
              class="form-control" />
              <span class="text">Telefono</span>
              <span class="line"></span>
            </div>
          </div>
          <div class="col">
            <div class="inputBox">
              <input type="text" pInputText formControlName="email"
              class="form-control" />
              <span class="text">Email</span>
              <span class="line"></span>
            </div>
          </div>
        </div>
        <div class="row100">
          <div class="col">
            <div class="inputBox textarea">
              <textarea pInputTextarea formControlName="detalle"
              class="form-control" ></textarea>
              <span class="text">Escribe tu mensaje...</span>
              <span class="line"></span>
            </div>
          </div>
        </div>

        <div class="row100">
          <div class="col">
            <input type="submit" value="Enviar" (click)="enviarEmail()" />
          </div>
        </div>

    </div>
  </div>
  </form>
</section>
