* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background::before {
  content: "";
  background-image: url("../../assets/images/FondoWork.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.formContact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  width: 100%;
  /* background: #001923; */
}

/*
.formContact::before {
  content: '';
  position: absolute;
  width: 400px;
  height: 400px;
  background: linear-gradient(#ffeb3b, #e91e63);
  border-radius: 50%;
  transform: translate(-420px, -180px);
}

.formContact::after {
  content: '';
  position: absolute;
  width: 350px;
  height: 350px;
  background: linear-gradient(#2196f3, #83d8ff);
  border-radius: 50%;
  transform: translate(400px, 180px);
}
*/

.container {
  position: relative;
  z-index: 1000;
  width: 100%;
  max-width: 1000px;
  padding: 50px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(5px);
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  pointer-events: none;
  transform: skew(-15deg);
}

.container h2 {
  width: 100%;
  text-align: center;
  color: #000;
  font: 36px;
  margin-bottom: 20px;
}

.container .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.container .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 20px;
}

.container .row100 .col .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: #000;
}

/* Estilos de los botones que se deben cambiar */

.container .row100 .col .inputBox input,
.container .row100 .col .inputBox textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}

.container .row100 .col .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

.container .row100 .col .inputBox input:focus ~ .text,
.container .row100 .col .inputBox input:valid ~ .text,
.container .row100 .col .inputBox textarea:focus ~ .text,
.container .row100 .col .inputBox textarea:valid ~ .text {
  top: -35px;
  left: -10px;
}

.container .row100 .col .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.container .row100 .col .inputBox input:focus {
  border: 1px solid rgba(0, 0, 0, 0.5);
  transition: border 0.5s;
  border-radius: 5px;
}

.container .row100 .col .inputBox textarea:focus {
  border: 1px solid rgba(0, 0, 0, 0.5);
  transition: border 0.5s;
  border-radius: 5px;
}

textarea:focus + .text {
  display: none;
}

.container .row100 .col .inputBox input:focus ~ .line,
.container .row100 .col .inputBox input:valid ~ .line {
  height: 100%;
}

.container .row100 .col .inputBox .textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

.container .row100 .col .inputBox textarea:focus ~ .line,
.container .row100 .col .inputBox textarea:valid ~ .line {
  height: 100%;
}

.container .row100 .col input[type="submit"] {
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  outline: none;
  background: #000;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  border-radius: 2px;
}

@media screen and (min-width: 1020px) {

  .container {
    width:950px;
  }

  .formContact {
    margin-top: 60px;
  }
}

@media screen and (min-width: 960px) {

  .container {
    width:900px;
  }

  .formContact {
    margin-top: 60px;
  }
}

@media screen and (min-width: 800px) {

  .container {
    width:750px;
  }

  .formContact {
    margin-top: 60px;
  }
}

@media screen and (max-width: 400px) {

  .container {
    width:350px;
  }

  .formContact {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
    /* background: #001923; */
  }
}

@media screen and (min-width: 300px) {

  .container {
    width:300px;
  }

}

/* Estilos de la 2da caja  */

.contact-box {
  width: 100%;
  height: 100vh;
  display: flex;
}

.google-map {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-container {
  width: 600px;
  height: 450px;
  padding: 10px;
}

.map-container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.map-responsive {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.title-contact {
  width: 50%;
  height: 100%;
  margin-left: auto;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-contact i {
  margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
  .contact-box {
    height: 1000px;
  }

  .contact-box {
    flex-direction: column;
  }

  .google-map {
    margin-top: 70px;
  }

  .google-map,
  .title-contact {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .google-map {
    margin-top: 70px;
  }
}

@media screen and (max-width: 400px) {
  .google-map {
    margin-top: 70px;
  }

  .google-map,
  .title-contact {
    border-right: none;
  }
}
